/* for header */
.icon{
    font-size: 25px;
}
.border1{
    border: #dbdbdb 1px solid;
}
.text{
    text-align: justify;
}
.sidebar{
    z-index: 1000;
}
.input{
    outline: none;
    border: none
}
.content_icon .fas 
{
    color:#ed4956;
}

/* for header */
.header_search{
    left: -30%;
    right: 0;
    top: 150% ;
    width: 375px;
    height: 375px;
    
}
.header_search .row:hover{
    background-color:#ccc;
}
.header_search_close{
    right: 5%;
    top: 30%;
    z-index: 5;
}