/* for header */
.icon{
    font-size: 25px;
}
.border1{
    border: #dbdbdb 1px solid;
}
.text{
    text-align: justify;
}
.sidebar{
    z-index: 1000;
}
.input{
    outline: none;
    border: none
}
.content_icon .fas 
{
    color:#ed4956;
}

/* for header */
.header_search{
    left: -30%;
    right: 0;
    top: 150% ;
    width: 375px;
    height: 375px;
    
}
.header_search .row:hover{
    background-color:#ccc;
}
.header_search_icon{
    right: 5%;
    top: 30%;
    z-index: 5;
}

.mod_header{
    z-index: 10;
    width: 600px;
    border-radius: 0;
}
.mod_footer{
    z-index: 10;
    width: 600px;
    border-radius: 0;
    bottom: 35px;
    height: 165px;
}

.message {
    font: 20px Helvetica, Arial, Sans-serif;
    display: none;
    width: 100%;
    padding: 20px;
    color: #fff;
}

